*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  position: relative;

  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

button {
  border: none;
  display: inline-block;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  max-width: 35rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2rem 6rem rgba(hsl(223, 47%, 23%), 0.4);

  @media only screen and (max-width: 25em) {
    max-width: 32rem;
    min-width: 32rem;
  }

  &__text {
    padding: 3.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-weight: 900;
      font-size: 2.4rem;
    }

    p {
      line-height: 1.5;
      color: hsl(224, 23%, 55%);
    }

    .btn {
      padding: 1.8rem;
      font-weight: 700;
    }

    .btn--payment {
      border-radius: 10px;
      background-color: hsl(245, 75%, 52%);
      color: #fff;
      box-shadow: 0 1rem 3rem rgba(hsl(245, 75%, 52%), 0.4);
      transition: 0.2s all;

      &:hover {
        background-color: hsl(224, 23%, 55%);
      }
    }

    .btn--cancel-order {
      background: none;
      color: hsl(224, 23%, 55%);
      font-weight: 900;
      padding: 0;
      transition: 0.2s all;

      &:hover {
        color: hsl(223, 47%, 23%);
      }
    }
  }

  &__plan {
    display: grid;
    grid-template-columns: auto 1fr min-content;
    padding: 1.6rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    align-items: center;
    column-gap: 1.4rem;

    .music-icon {
      grid-row: 1 / 3;
    }

    h2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: 1.4rem;
      font-weight: 900;
      justify-self: flex-start;
      align-self: flex-end;
    }

    p {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: flex-start;
      font-size: 1.4rem;
    }

    a {
      font-weight: 900;
      grid-row: 1 / 3;
      background: none;
      font-size: 1.3rem;
      transition: 0.2s all;

      &:hover {
        color: hsl(224, 23%, 55%);
      }
    }
  }
}
